Create DATABASE HospitalDB;
GO

USE HospitalDB;
GO

-- Doctors

CREATE TABLE Doctors (
doctor_id VARCHAR(10) PRIMARY KEY,
doctor_name VARCHAR(100) NOT NULL,
hospital_unit VARCHAR(100) NOT NULL
);

--Patients

Create table Patients (
patient_id INT IDENTITY(1,1) PRIMARY KEY,
name VARCHAR(100) NOT NULL,
doctor_id VARCHAR(10) NOT NULL,
diagnosis VARCHAR(100) NOT NULL,
contact_number VARCHAR(15),
FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);

-- Appointments

CREATE TABLE Appointments (
appointment_id INT IDENTITY(1,1) PRIMARY KEY,
patient_id INT NOT NULL,
doctor_id VARCHAR(10) NOT NULL, 
appointment_date DATE NOT NULL,
CONSTRAINT FK_Appointments_Patients FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
CONSTRAINT FK_Appointments_Doctors FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);

-- Treatments
CREATE TABLE Treatments (
treatment_id INT IDENTITY(1,1) PRIMARY KEY,
diagnosis VARCHAR(100),
prescription VARCHAR(100),
cost DECIMAL(10,2),
appointment_ID INT NOT NULL,
FOREIGN KEY (appointment_id) REFERENCES Appointments(appointment_id)
);

INSERT INTO Doctors VALUES
('D101','Naledi Khumalo','Pediatrics'),
('D102','Thabo Maseko','Cardiology'),
('D103','Aisha Patel','Dermatology'),
('D104','Michael Smith','Orthopedics'),
('D105','Lerato Dube','General Surgery');

INSERT INTO Patients (name, doctor_id, diagnosis, contact_number) VALUES
('Sipho Ndlovu','D101','Asthma','0712345678'),
('Nomsa Mthembu','D102','Hypertension','0723456789'),
('David Johnson','D103','Eczema','0734567890'),
('Zanele Nkosi','D104','Fracture','0745678901'),
('Peter Adams','D105','Appendicitis','0756789012'),
('Ayanda Molefe','D101','Bronchitis','0767890123'),
('Sarah Jacobs','D102','Diabetes','0778901234'),
('John Williams','D103','Psoriasis','0789012345'),
('Kabelo Moeketsi','D104','Sprain','0790123456'),
('Emily Brown','D105','Gallstones','0801234567');

INSERT INTO Appointments (patient_id, doctor_id, appointment_date) VALUES
(1,'D101','2026-07-01'),
(2,'D102','2026-07-02'),
(3,'D103','2026-07-03'),
(4,'D104','2026-07-04'),
(5,'D105','2026-07-05'),
(6,'D101','2026-07-06'),
(7,'D102','2026-07-07'),
(8,'D103','2026-07-08'),
(9,'D104','2026-07-09'),
(10,'D105','2026-07-10');

INSERT INTO Treatments (diagnosis, prescription, cost, appointment_id) VALUES
('Asthma','Inhaler',250.00,1),
('Hypertension','Amlodipine',180.00,2),
('Eczema','Topical cream',120.00,3),
('Fracture','Cast and painkillers',500.00,4),
('Appendicitis','Surgery',1500.00,5),
('Bronchitis','Antibiotics',300.00,6),
('Diabetes','Insulin',400.00,7),
('Psoriasis','Steroid cream',220.00,8),
('Sprain','Physiotherapy',350.00,9),
('Gallstones','Surgery',2000.00,10);

--Validation queries
SELECT * FROM Patients;

-- Join patients with doctors and appointments
SELECT p.name, d.doctor_name, a.appointment_date
FROM Patients p
JOIN Appointments a ON p.patient_id = a.patient_id
JOIN Doctors d ON a.doctor_id = d.doctor_id;

-- Show treatment with costs
SELECT t.diagnosis, t.prescription, t.cost, a.appointment_date
FROM Treatments t
JOIN Appointments a ON t.appointment_id = a.appointment_id;

--Top 3 most expensive treatments
SELECT TOP 3 prescription, cost
FROM Treatments
ORDER BY cost DESC;

-- Number of patients per doctor
SELECT d.doctor_name, COUNT(p.patient_id) AS patient_count
FROM Doctors d
LEFT JOIN Patients p ON d.doctor_id = p.doctor_id
GROUP BY d.doctor_name;

SELECT diagnosis, AVG(cost) AS avg_cost
FROM Treatments
GROUP BY diagnosis;

--Views

CREATE VIEW PatientTreatmentSummary AS
SELECT p.name AS patient_name,
       d.doctor_name,
       a.appointment_date,
       t.diagnosis,
       t.prescription,
       t.cost
FROM Patients p
JOIN Appointments a ON p.patient_id = a.patient_id
JOIN Doctors d ON a.doctor_id = d.doctor_id
JOIN Treatments t ON a.appointment_id = t.appointment_id;

--Stored Procedures
CREATE PROCEDURE GetPatientHistory @patient_id INT
AS
BEGIN
    SELECT p.name, d.doctor_name, a.appointment_date, t.diagnosis, t.prescription, t.cost
    FROM Patients p
    JOIN Appointments a ON p.patient_id = a.patient_id
    JOIN Doctors d ON a.doctor_id = d.doctor_id
    JOIN Treatments t ON a.appointment_id = t.appointment_id
    WHERE p.patient_id = @patient_id;
END;


